<h1>Customer List</h1>

<table>

  <tr>
    <th><%= link_to "First Name", :sort => "first_name" %></th>
    <th><%= link_to "Last Name", :sort => "last_name" %></th>
    <th><%= link_to "Email", :sort => "email" %></th>
    <th><%= link_to "Phone", :sort => "phone" %></th>
    <th><%= link_to "Street Address", :sort => "street_address" %></th>
    <th><%= link_to "City", :sort => "city_address" %></th>
    <th><%= link_to "State", :sort => "state_address" %></th>
    <th><%= link_to "Zip Code", :sort => "zip_code" %></th>
    <th><%= link_to "Birthdate", :sort => "birthdate" %></th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.first_name %></td>
      <td><%= customer.last_name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.street_address %></td>
      <td><%= customer.city_address %></td>
      <td><%= customer.state_address %></td>
      <td><%= customer.zip_code %></td>
      <td><%= customer.birthdate %></td>
    </tr>
  <% end %>

</table>
