<h1>Customer List</h1>

<table>

  <tr>
    <th><%= sortable "first_name", "First Name" %></th>
    <th><%= sortable "last_name", "Last Name" %></th>
    <th><%= sortable "email", "email" %></th>
    <th><%= sortable "phone", "phone" %></th>
    <th><%= sortable "street_address", "Street Address" %></th>
    <th><%= sortable "city_address", "City Address" %></th>
    <th><%= sortable "state_address", "State Address" %></th>
    <th><%= sortable "zip_code", "Zip Code" %></th>
    <th><%= sortable "birthdate", "Birthdate" %></th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.first_name %></td>
      <td><%= customer.last_name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.street_address %></td>
      <td><%= customer.city_address %></td>
      <td><%= customer.state_address %></td>
      <td><%= customer.zip_code %></td>
      <td><%= customer.birthdate %></td>
    </tr>
  <% end %>

</table>
