<h1>New Customer</h1>
<%-#form with  %>  
<%= form_with scope: :customer, url: customers_path, local: true do |form| %>
  <p>
    <%= form.label :First_Name %><br>
    <%= form.text_field :First_Name %>
  </p>

   <p>
    <%= form.label :Last_Name %><br>
    <%= form.text_field :Last_Name %>
  </p>

  <p>
    <%= form.label :Email %><br>
    <%= form.text_field :Email %>
  </p>

  <p>
    <%= form.label :Phone %><br>
    <%= form.text_field :Phone %>
  </p>

  <p>
    <%= form.label :Street_Address %><br>
    <%= form.text_field :Street_Address %>
  </p>

  <p>
    <%= form.label :City_Address %><br>
    <%= form.text_field :City_Address %>
  </p>

  <p>
    <%= form.label :State_Address %><br>
    <%= form.text_field :State_Address %>
  </p>

  <p>
    <%= form.label :Zip_Code %><br>
    <%= form.text_field :Zip_Code %>
  </p>

  <p>
    <%= form.label :Birthdate %><br>
    <%= form.text_field :Birthdate %>
  </p>

  <p>
    <%= form.submit %>
  </p>

    
  </p>
<% end %>