<h1>New Customer</h1>
<%-#form with  %>  
<%= form_with scope: :customers, url: customers_path, local: true do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>

   <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.label :street_address %><br>
    <%= form.text_field :street_address %>
  </p>

  <p>
    <%= form.label :city_address %><br>
    <%= form.text_field :city_address %>
  </p>

  <p>
    <%= form.label :state_address %><br>
    <%= form.text_field :state_address %>
  </p>

  <p>
    <%= form.label :zip_code %><br>
    <%= form.text_field :zip_code %>
  </p>

  <p>
    <%= form.label :birthdate %><br>
    <%= form.text_field :birthdate %>
  </p>

  <p>
    <%= form.submit %>
  </p>

    
  </p>
<% end %>

