<p>
  <strong>First_Name:</strong>
  <%= @customers.first_name%>
</p>

<p>
  <strong>Last_Name:</strong>
  <%= @customers.last_name%>
</p>

<p>
  <strong>Email:</strong>
  <%= @customers.email%>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customers.phone%>
</p>

<p>
  <strong>Street_Address:</strong>
  <%= @customers.street_address%>
</p>

<p>
  <strong>City_Address:</strong>
  <%= @customers.city_address%>
</p>

<p>
  <strong>State_Address:</strong>
  <%= @customers.state_address%>
</p>

<p>
  <strong>Zip_Code:</strong>
  <%= @customers.zip_code%>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @customers.birthdate%>
</p>